.listTask {
  background-color: #fff;
  margin: 1rem;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 1fr min-content;

  &__container {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100vh;
    overflow-y: scroll;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  &__info {
    font-size: 1.2rem;
    margin: 0.5rem 0 1rem;
  }

  &__name {
    font-weight: 700;
    font-size: 2.4rem;
  }

  &__icon {
    font-size: 2rem;
    margin: 0.5rem 0;
    transition: all 0.2 ease;

    &:hover {
      color: $color-purple-1;
    }

    &--active {
      color: $color-purple-1;
    }
  }

  &__progress {
    width: 30%;
    background-color: $color-light-1;
    height: 2rem;
    border-radius: 1rem;
    position: relative;

    &-background {
      position: absolute;
      left: 0;
      top: 0;
      width: 87.5%;
      height: 100%;
      display: block;
      background-color: $color-purple-1;
      border-radius: 1rem;
    }

    &-value {
      color: #000;
      font-weight: 700;
      font-size: 1.5rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.btn__clean {
  background-color: $color-purple-1;
  color: #fff;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  border: none;
  border-radius: 1rem;
  margin: 0 auto;
}

.message {
  color: $color-purple-1;
  font-size: 2rem;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
