.navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  z-index: 5;
  background-color: #fff;

  &__list {
    display: flex;
    justify-content: space-around;

    list-style-type: none;

    @media only screen and (min-width: $bp-small) {
      width: 80%;
      margin: 0 auto;
    }
    @media only screen and (min-width: $bp-medium) {
      width: 60%;
    }
    @media only screen and (min-width: $bp-large) {
      width: 50%;
      max-width: 120rem;
    }
  }

  &__element {
    cursor: pointer;
  }

  &__icon {
    font-size: 2.8rem;
    padding: 2rem;

    &--add {
      background-color: $color-purple-1;
      color: #fff;
      border-radius: 50%;
      transform: translateY(-25%) scale(1.15);
    }
  }
}
