.newTask {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 2.4rem;

  &__container {
    background-color: #fff;
    position: fixed;
    transform: translateY(-100%);
    width: 90vw;
    margin: 0 5vw;
    padding: 2rem;
    border-radius: 2rem;

    &--active {
      animation-name: slideDown;
      animation-duration: 1s;
      animation-fill-mode: forwards;
    }

    &--unactive {
      animation-name: slideUp;
      animation-duration: 1s;
      animation-fill-mode: both;
    }
  }

  &__submit {
    background-color: $color-purple-1;
    color: #fff;
    border: none;
    font-weight: 700;
    font-size: inherit;
    padding: 1rem 3rem;
    border-radius: 1.5rem;
    margin-top: 1rem;
  }

  &__field {
    width: 100%;
    font-size: 1.8rem;
    padding: 1rem 1.5rem;
    margin: 2rem 0;
    background-color: $color-light-1;
    border-radius: 1rem;
    border: none;
    text-align: center;
  }

  &__h2 {
    font-size: 3.6rem;
  }

  &__h3 {
    font-size: 2.2rem;
  }
}

.subtask {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 1rem auto;

  &__container {
    max-height: 15vh;
    overflow-y: scroll;
    width: 100%;
  }

  &__field {
    font-size: 1.6rem;
    width: 70%;
    padding: 0.75rem 1rem;
    background-color: $color-light-1;
    border: none;
    border-radius: 1rem;

    &:not(:first-child) {
      margin-top: 1rem;
    }

    &--added {
      color: grey;
    }
  }

  &__btn {
    background-color: $color-purple-1;
    color: #fff;
    border-radius: 50%;
    font-size: 1.6rem;
    padding: 0.5rem;

    &--added {
      background-color: $color-light-1;
    }
  }
}
