.wrapper {
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  max-height: 50%;
}

.task {
  background-color: #fff;
  width: calc(100% - 2rem);
  margin: 1rem auto;
  border-radius: 1rem;
  padding: 1.5rem 2rem;

  @media only screen and (min-width: $bp-small) {
    width: 80%;
    margin: 0 auto;
  }
  @media only screen and (min-width: $bp-medium) {
    width: 60%;
  }
  @media only screen and (min-width: $bp-large) {
    width: 50%;
    max-width: 120rem;
  }

  &__top {
    display: grid;
    grid-template-columns: 1fr min-content;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__side {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__icon {
    font-size: 2rem;
    margin: 0.5rem 0;

    &:first-child {
      color: gray;
    }

    &:hover {
      color: $color-purple-1;
    }
  }

  &__name {
    font-size: 3.2rem;
  }

  &__info {
    font-size: 1.6rem;
    margin: 1rem 0;
  }

  &__progress {
    width: 50%;
    background-color: $color-light-1;
    height: 2rem;
    border-radius: 1rem;
    position: relative;

    &-background {
      position: absolute;
      left: 0;
      top: 0;
      width: 87.5%;
      height: 100%;
      display: block;
      background-color: $color-purple-1;
      border-radius: 1rem;
    }

    &-value {
      color: #000;
      font-weight: 700;
      font-size: 1.5rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
  }

  &__element {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0;
    align-items: center;

    &:first-child {
      margin-top: 2rem;
    }

    &-name {
      font-size: 2rem;

      &--active {
        color: gray;
        font-style: italic;
      }
    }

    &-btn {
      font-size: 2rem;
    }
  }
}
